.MyInput{
    display: block;
    background-color: black;
    resize: none;
    border: none;
    border-bottom:2px solid white;
    color: white;
    text-align: left;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-right: 100px;
    text-indent: 20px;
}