.myBtn{
    padding: 5px 15px;
    color: white;
    font-size: 20px;
    background: transparent;
    border: 2px solid red;
    display: block;
    float: right;
}
.myBtn:hover{
    transition: color 500ms ease;
    transition: border 500ms ease;
    color: red;
    border: 2px solid white;

    cursor: pointer;
}
